@-ms-viewport{
    width: device-width; /* view point */
  }


  .logo-image{
    width: 46px;
    height: 46px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -6px;
}

  
  
/* cart button*/
  .btn-xl
    {
      position: absolute;
      right: 16px;
      top: 10px;
     
  }
   /*2st nav bar*/
   .col{
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #e3f2fd;
    
  }
    .col a{
      display: block;
      color: black;             /*link*/
      text-align: center;
      padding: 14px 56px;
      text-decoration: none;
    }
    .col a:hover {    /* hover*/
      background-color: #d1e8f8;
      
    } 
    
    
    /*2nd nav bar code end*/
    
    
    .featured-categories
{
	margin: 50px 0;
	
}

.featured-categories img
{
	width: 100%;
	padding: 20px 0;
	transition: 1s;
	cursor: pointer;
	height: 240px;
}

.featured-categories img:hover
{
	transform: scale(1.1)
}
  
  
/*css for latest produtcs and featured produts*/
.kl {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}






.rating .fa {
  color: #faadbd;
}

.col-4:hover {
  transform: translateY(-7px);
}



h4 {
  color: #555555;
  font-weight: normal;
}

.col-4 p {
  font-size: 14px;
}

.title {
  text-align: center;
  
  position: relative;
  line-height: 60px;
  color: #555555;
}

.title::after {
  content: '';
  background: #1a9cbd;
  width: 80px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.dropdown-toggle{
  text-align: right;
  padding-left: 60px;
}

.small-container {
  max-width: 1080px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}

.col-4 {
  flex-basis: 25%;
  padding: 10px;
  min-width: 200px;
  margin-bottom: 50px;
  transition: transform 0.5s;
}

.col-4 img {
  width: 100%;
}
/*ex*/
.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}


/*products*/
.center {
  
  text-align: center;
  }
.dropdown-menu {
  float: right;
  padding-left: 100px;
}


